@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: 'Oxygen', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 7rem;    
}
div.filmes{
    font-size: 1000px;

}